asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==4.0.3
django-on-heroku==1.1.2
django-user-agents==0.4.0
gunicorn==20.1.0
idna==3.3
psycopg2-binary==2.9.3
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.10.0
urllib3==1.26.9
user-agents==2.2.0
whitenoise==6.0.0
zmq==0.0.0
